// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #194E7E;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #aaa9a9;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$theme     : #08cc7f;

@import '~quasar-variables-styl'
